body {
    font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}