.product {
  margin: 60px auto;
  display: flex;
  margin-top: 100px;
  padding-right: 6% !important;
  padding-left: 6% !important;
  max-width: 1185px;
}

.product-visible {
  display: flex;
  margin-top: 100px;
  padding-right: 6% !important;
  padding-left: 6% !important;
  max-width: 1100px;
}

.food {
  width: 80%;
}

.image_social_container {
  width: 50%;
}

.image_social_container image {
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
}

.image img {
  width: 100%;
}

.product .info {
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 40px;
  -webkit-box-flex: 1;
  flex: 1;
  flex-basis: 1e-9px;
  position: relative;
}

.product .info h1 {
  margin: 5px 0;
  font-weight: 100;
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 20px;
  color: #373737;
  position: relative;
  display: inline;
}

.product .info .tags span {
  font-family: sans-Serif;
  font-size: 14px;
  color: #e85826;
  position: relative;
  padding-right: 8px;
  padding-top: 1px;
}

.cuisine {
  color: #e85826;
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 14px;
}

.product .info h2 {
  margin: 12px 0 11px;
}

.product .info h2 span {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 1.28;
}

.order {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 35px;
  border: none;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #fbcd6b, #f19e00);
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  width: 110px;
  position: relative;
  margin: 0 !important;
  border-radius: 20px;
}

.order div {
  flex: 1;
}

.order_calc {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 35px;

  font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;

  -webkit-box-direction: normal;

  cursor: pointer;
  text-align: center;
}

.order_result {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 35px;

  font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;

  -webkit-box-direction: normal;

  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  background-image: linear-gradient(to left, #fbcd6b, #f19e00);
}

.food_detail {
  font-size: 18px;
  line-height: 1.56;
  color: #373737;
  margin-top: 30px;
  font-family: sans-serif;
}

.food_desc {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.67;
  color: #4a4a4a;
}

.food_tags {
  -webkit-box-align: center;
  align-items: center;
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-top: 15px;
}

.food_tags .cuisines {
  flex-wrap: wrap;
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-top: 5px;
}

.cuisines_text {
  margin-top: 7px;
  font-size: 12px;
  color: #535657;
  text-transform: uppercase;
}

.ingredients-title {
  font-size: 18px;
  line-height: 1.56;
  color: #373737;
  margin-top: 50px;
  font-family: sans-serif;
}

.ingredients-list {
  font-size: 15px;
  line-height: 1.67;
  color: #4a4a4a;
  margin-top: 10px;
}

.side_menu {
  animation: sidecart-slide-in 0.5s;
  right: 0;
  background:white;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 3px 0 #d9d3c7;
  z-index: 11 !important;
}

.cart {
  position: relative;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
}

.cart .header {
  padding: 16px 16px 24px;
  color: #4a4a4a;
}

.header_cart {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #4a4a4a;
}

.back {
  float: right;
  cursor: pointer;
  font-size: 30px;
  margin-top: -40px;
  color: #4a4a4a;
}

.header_count {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: #9b9b9b;
}

.items {
  padding: 0 16px;
  font-size: 16px;
}

.items_cart {
  border-bottom: 0;
  margin-bottom: 10px;
  position: relative;
  margin-bottom: 40px;
  padding: 10px 0 10px 20px;
}

.category-border {
  position: absolute;
  left: 0px;
  margin-top: 2px;
  border-color: #e4572e;
  border: 1px solid #e4572e;
}

.category-dot {
  background: #e4572e;
  width: 6px;
  height: 6px;
  margin: 2px;
  display: block !important;
  border-radius: 6px;
}

.item_title {
  max-width: 150px;
  display: inline-block;
  line-height: 1.2;
  color: #4a4a4a;
  font-size: 16px;
  font-family: ProximaNova-Regular, Helvetica, Arial, sans-serif;
}

.actions {
  vertical-align: top;
  float: right;
  font-size: 16px;
  margin-top: -38px;
}

.actions_btn {
  /* border-color: #e7e9e9; */
  border-radius: 17.5px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin: 0 !important;

  background: 0 0;
  border: 1px solid #e7e9e9;
  color: #e04619;
  /* color: #df561d!important; */
  width: 90px !important;
  line-height: 30px;
  max-height: 30px;
  overflow: hidden;
  align-items: center;
}

.action_first {
  font-size: 24px;
  margin-left: 5px;
  margin-top: -1px;
  flex: 1;
  line-height: 30px;
}

.action_second {
  border: 0;
  font-size: 13px;
  font-weight: 600;
  color: #4a4a4a !important;
  margin-top: 0;
  background-color: white;
}

.action_third {
  font-size: 20px;
  margin-right: 5px;
  flex: 1;
  line-height: 30px;
}

.action_item {
  /* display: inline-block; */
  margin-top: 5px;
  font-size: 16px;
  font-family: sans-serif;
}

.price_item {
  text-align: right;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.value_item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.selling_price {
  text-align: right;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 500;
  float: left;
}

.proceed {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0 16px 24px;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 23px;
}

.proceed-btn {
  width: 100%;
  padding: 15px 25px;
  transition: none;
  position: relative;
  border-radius: 23px;
  background: linear-gradient(to right, #f5914e, #e85826);
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.safe_delivery {
  padding: 0;
  transition: none;
  margin: 10px 0 0 0;
  opacity: 1;
  height: auto;
  color: #2ebd59;
  font-size: 14px;
  line-height: 1.36;
  border-radius: 4px;
  background-color: #e2feed;
  border: 1px solid #9febc3;
  overflow: hidden;
}

.safe_meals {
  margin: 10px;
}


.anything{
  font-family:Arial,sans-serif;
  color: #535657;
  font-weight: bolder;
  padding: 16px 16px 20px;
  text-align: left;
  position: relative;
 
}

.add_ons{
  background: #f7f7f7;
  height: 300px;
}

.upsale_product{
  padding: 12px 16px;
}

.image_preloaded{
  position: relative;
  width: 75px;
  height: 75px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  vertical-align: top;
}

.info{
  display: inline-flex;
    vertical-align: top;
    margin-left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: calc(100% - 90px);
    height: auto;
    position: relative;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.product_title{
  min-height: 40px;
}

.veg_icon{
  position: absolute;
    left: 0px;
    margin-top: 2px;
    border-color: #2ebd59;
    border: 1px solid #2ebd59;
    width: 10px;
    height: 10px;
}

.veg_dot{
  background: #2ebd59;
  width: 6px;
    height: 6px;
    margin: 1px;
    display: block!important;
    border-radius: 6px;
}

.title{
  word-wrap: break-word;
    font-size: 14px;
    line-height: 1;
    color: #000;
}

.info .actions{
  display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    font-family: ProximaNova-Regular,Helvetica,Arial,sans-serif;
}

.info .actions .price{
  display: inline-block;
  align-self: center;
  font-size: 18px;
    color: #343534;
}

.info .actions .price .price{
  font-size: 16px;
    color: #4a4a4a;
    line-height: 30px;
}

.add_cart_btn{
  line-height: normal;
    height: 30px;
    display: inline-block;
    float: right;
    color: #df561d!important;
    cursor: pointer;
    background: 0 0;
    border: 1px solid #df561d;
    width: 90px!important;
    max-height: 30px;
    overflow: hidden;
    border-radius: 17.5px;
}

.suggested{
  margin: -16px auto 105px;
    padding-top: 65px;
    padding-right: 10%!important;
    padding-left: 10%!important;
    max-width: 1185px;
}

.suggested h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin: 0;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.suggested h2:before{
  content: "-----------";
  letter-spacing: -4px;
    color: #d1d2d9;
    padding-right: 15px;
}

.suggested h2:after{
  content: "-----------";
  letter-spacing: -4px;
    color: #d1d2d9;
    padding-right: 15px;
}

.suggested .list {
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  /* display: -webkit-box; */
  display: flex;
  justify-content: center;
}

.suggested .list .item {
  /* display: -webkit-box; */
  display: flex;
  box-sizing: border-box;
  width: 19%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-right: 50px;
}

.suggested .list .item .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.suggested .list .item h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #343534;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: none;
  font-weight: revert;
  
}

.suggested .tags {
  -webkit-box-align: center;
  align-items: center;
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  line-height: 1.9;
  margin-bottom: 35px;
}

.suggested .tags .category {
  font-family:Helvetica,Arial,Sans-Serif;
  line-height: 1.9;
  font-size: 14px;
  color: #868a86;
  position: relative;
  font-weight: 400;
  padding-left: 5px;
}

.suggested span+span:before {
  top: 50%;
  left: 5px;
  content: " ";
  width: 3px;
  margin-top: -1px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  background-color: #868a86;
}

.suggested span+span {
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Helvetica,Arial,Sans-Serif;
  font-size: 14px;
  color: #868a86;
  position: relative;
  font-weight: 400;
}


.suggested .list .item .actions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 34px;
}

.suggested .list .item .actions span {
  font-size: 16px;
  color: #868a86;
  -webkit-box-flex: 1;
  flex: 1;
  flex-basis: 1e-9px;
}

.suggested .list .item .actions .add {
  line-height: 25px;
  width: 75px;
  background-image: linear-gradient(to right,#fbcd6b,#f19e00);
  border-radius: 17.5px;
  color: #fff!important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  border: none;
  font-family: Helvetica,Arial,sans-serif;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin: 0!important;
  justify-content: center;
}