.overflow-hidden{
    overflow: hidden;
}
.menu-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 6% 0% 6%;
}
.filter-bar{
    padding: 15px 25px 15px 10px;
    align-items: center;
    z-index: 1;
    position: sticky;
    display: flex;
    border-bottom: 1px solid #d1d2d9;
}
.filterContainer{
    
    margin:0 0 0 auto;
    gap: 2rem;
    display: flex;

}