.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0 9px 13px 0 rgb(0 0 0 / 10%);
  background: #fff;
}

.navbar-inner-wrapper {
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  max-width: 1185px;
  height: 70px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.header-logo {
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}

.location-wrapper {
  margin: 0 40px;
  color: #e85826;
  display: flex;
}

.location-inner-wrapper {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-right: 16px;
}

.location-inner-wrapper .lbl {
  color: #9b9b9b;
  font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.address-location {
  margin-left: 10px;
  color: #e85826;
  max-width: 300px;
  font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.right-navbar {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.fresh-club {
  background: #603b6d;
  color: #fff;
  padding: 0 50px 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 24px;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 50px;
  height: 70px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  text-decoration: none;

  transition: all 0.2s cubic-bezier(0.15, 0.69, 0.83, 0.67);
}

.fresh-new {
  right: 8px;
  top: 8px;
  background: #fff;
  left: initial !important;
  font-family: ProximaNova-Bold, Helvetica, Arial, sans-serif;
  width: 30px;
  text-align: center;
  line-height: 14px;
  box-sizing: border-box;
  height: 13px;
  border-radius: 2px;
  font-size: 9px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #603b6d;
  position: absolute;
}

.try-fresh {
  color: white;
  white-space: nowrap;
}

.common-link {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 24px;
  height: 70px;
  font-size: 22px;
  /* font-weight: 600; */
  text-align: left;
  color: #4a4a4a;
  position: relative;
  text-decoration: none;
  /* -webkit-transition: all .2s cubic-bezier(.15,.69,.83,.67); */
  transition: all 0.2s cubic-bezier(0.15, 0.69, 0.83, 0.67);
}
